In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation
from sklearn.preprocessing import MinMaxScaler

# Phase 1 : entraînement

In [2]:
versus=pd.read_csv("matchfiltreavecpourcentageranking2.csv",sep=';')

In [3]:
#versus

In [4]:
versus=versus.drop('home_score',axis=1)

In [5]:
versus=versus.drop('away_score',axis=1)

In [6]:
versus=versus.drop('home_team',axis=1)

In [7]:
versus=versus.drop('away_team',axis=1)

In [8]:
#versus

In [9]:
versus.dropna(axis=0,inplace=True)

In [10]:
versus['Rang_home_team']=(1.)/(versus['Rang_home_team'])

In [11]:
versus['Rang_away_team']=(1.)/(versus['Rang_away_team'])

In [12]:
versus=versus[versus['tournament']==1]

In [13]:
versus

,date,tournament,winner,phase_final,home_team_pourcentage_victoire,home_team_but_mis,home_team_but_enc,away_team_pourcentage_victoire,away_team_but_mis,away_team_but_enc,Rang_home_team,Rang_away_team,Host
13493,1994,1,2,0,71.43,2.2,0.9,27.03,1.2,1.2,1.000000,0.023256,0.0
13494,1994,1,1,0,73.68,2.2,0.7,45.71,1.7,0.8,0.200000,0.027027,0.0
13495,1994,1,0,0,53.33,1.5,0.5,52.17,1.7,1.1,0.058824,0.142857,0.0
13496,1994,1,0,0,70.59,1.9,0.6,66.67,1.8,0.8,0.250000,0.071429,0.0
13497,1994,1,1,0,29.09,1.3,1.2,65.00,1.7,0.6,0.043478,0.083333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27719,2018,1,0,1,28.57,1.4,1.5,40.91,1.0,1.2,0.014286,0.050000,1.0
27720,2018,1,2,1,59.09,1.9,1.0,70.00,2.8,1.0,0.142857,0.333333,0.0
27721,2018,1,2,1,40.91,1.0,1.2,60.00,1.5,0.7,0.050000,0.083333,0.0
27722,2018,1,2,1,70.00,2.8,1.0,60.00,1.5,0.7,0.333333,0.083333,0.0
27723,2018,1,2,1,59.09,1.9,1.0,40.91,1.0,1.2,0.142857,0.050000,0.0

In [14]:
#Remplacement les strings par des nombres sinon impossible a traiter par l'algorythme
#versus['home_team'].replace(["Brazil","Germany","Italy","Argentina","France","England","Spain","Netherlands","Uruguay","Sweden","Belgium","Russia","Serbia","Mexico","Poland","Hungary","Portugal","Switzerland","Czech Republic","Austria","Chile","Croatia","Denmark","Paraguay","Colombia","United States","Romania","South Korea","Nigeria","Japan","Costa Rica","Scotland","Cameroon","Peru","Bulgaria","Turkey","Ghana","Republic of Ireland","Northern Ireland","Ecuador","Senegal","Algeria","Morocco","Saudi Arabia","Ivory Coast","South Africa","Tunisia","Iran","Australia","Norway","Greece","Ukraine","Wales","Slovakia","Slovenia","Cuba","Bosnia and Herzegovina","Jamaica","New Zealand","Honduras","Angola","Israel","Egypt","Iceland","North Korea","Kuwait","Trinidad and Tobago","Bolivia","Iraq","Togo","Canada","Indonesia","Panama","United Arab Emirates","China PR","Haiti","Congo DR","El Salvador","Czechoslovakia", "Yugoslavia",'Qatar','Autre pays'],range(82),inplace=True)

In [15]:
#versus['away_team'].replace(["Brazil","Germany","Italy","Argentina","France","England","Spain","Netherlands","Uruguay","Sweden","Belgium","Russia","Serbia","Mexico","Poland","Hungary","Portugal","Switzerland","Czech Republic","Austria","Chile","Croatia","Denmark","Paraguay","Colombia","United States","Romania","South Korea","Nigeria","Japan","Costa Rica","Scotland","Cameroon","Peru","Bulgaria","Turkey","Ghana","Republic of Ireland","Northern Ireland","Ecuador","Senegal","Algeria","Morocco","Saudi Arabia","Ivory Coast","South Africa","Tunisia","Iran","Australia","Norway","Greece","Ukraine","Wales","Slovakia","Slovenia","Cuba","Bosnia and Herzegovina","Jamaica","New Zealand","Honduras","Angola","Israel","Egypt","Iceland","North Korea","Kuwait","Trinidad and Tobago","Bolivia","Iraq","Togo","Canada","Indonesia","Panama","United Arab Emirates","China PR","Haiti","Congo DR","El Salvador","Czechoslovakia", "Yugoslavia",'Qatar','Autre pays'],range(82),inplace=True)

In [16]:
#versus.head(20)

In [17]:
#Met y sous forme d'un tableau
y=versus[['winner']].values

In [18]:
#y

In [19]:
#Met X sous forme d'un tableau
X=versus[['Rang_home_team','Rang_away_team','Host']].values
#X.shape

In [20]:
#Normalisation

In [21]:
#sc=MinMaxScaler(feature_range=(0,1))
#y_scaled=sc.fit_transform(y)
#y_scaled

In [22]:

#X_scaled=sc.fit_transform(X)
#X_scaled

In [23]:
#X_train,X_test,Y_train,Y_test=train_test_split(X_scaled,y_scaled,test_size=0.3,random_state=0)  #pour utiliser la version normalisé
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [24]:
model = Sequential()

model.add(Dense(32, input_dim=3))
model.add(Activation('relu'))


model.add(Dense(3))
model.add(Activation('softmax'))
model.compile(loss='sparse_categorical_crossentropy',optimizer='Adam',metrics=['sparse_categorical_accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                128

 activation (Activation)     (None, 32)                0

 dense_1 (Dense)             (None, 3)                 99

 activation_1 (Activation)   (None, 3)                 0

=================================================================
Total params: 227
Trainable params: 227
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.fit(X_train,Y_train,epochs=20,batch_size=1,verbose=1)

Epoch 1/20
340/340 [==============================] - 1s 1ms/step - loss: 1.0422 - sparse_categorical_accuracy: 0.4706
Epoch 2/20
340/340 [==============================] - 0s 1ms/step - loss: 1.0066 - sparse_categorical_accuracy: 0.4971
Epoch 3/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9979 - sparse_categorical_accuracy: 0.5206
Epoch 4/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9919 - sparse_categorical_accuracy: 0.5529
Epoch 5/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9896 - sparse_categorical_accuracy: 0.5471
Epoch 6/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9869 - sparse_categorical_accuracy: 0.5471
Epoch 7/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9856 - sparse_categorical_accuracy: 0.5382
Epoch 8/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9817 - sparse_categorical_accuracy: 0.5382
Epoch 9/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9815 - sparse_categorical_accuracy: 0.5588
Epoch 10/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9788 - sparse_categorical_accuracy: 0.5412
Epoch 11/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9795 - sparse_categorical_accuracy: 0.5559
Epoch 12/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9778 - sparse_categorical_accuracy: 0.5500
Epoch 13/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9765 - sparse_categorical_accuracy: 0.5618
Epoch 14/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9757 - sparse_categorical_accuracy: 0.5676
Epoch 15/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9749 - sparse_categorical_accuracy: 0.5735
Epoch 16/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9742 - sparse_categorical_accuracy: 0.5647
Epoch 17/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9710 - sparse_categorical_accuracy: 0.5618
Epoch 18/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9729 - sparse_categorical_accuracy: 0.5676
Epoch 19/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9706 - sparse_categorical_accuracy: 0.5588
Epoch 20/20
340/340 [==============================] - 0s 1ms/step - loss: 0.9683 - sparse_categorical_accuracy: 0.5559

In [26]:
test_loss, test_accuracy= model.evaluate(X_test,Y_test)

3/3 [==============================] - 0s 2ms/step - loss: 1.0009 - sparse_categorical_accuracy: 0.6047

# Phase 2 chargement du versus

In [27]:
ranking=pd.read_excel("classementFIFA.xlsx")

In [28]:
ranking=ranking[['Rang','Pays','Année']]
#ranking

In [29]:
#ranking

# Point de depart pour relancer le script

In [ ]:
pays1='France'
pays2='England'
host=0
while pays1!='bordeaux':
    print("Voici la liste des pays participant à la coupe du monde :\nBrazil Germany Argentina France England Spain Netherlands Uruguay\nBelgium Serbia Mexico Poland Portugal Switzerland Austria\nCroatia Denmark United States South Korea Japan Wales Qatar Senegal\nIran Morocco Tunisia Cameroon Canada Ecuador\nSaudi Arabia Ghana Costa Rica\n")
    pays1=input('Entrer le premier pays : ')
    if(pays1=='Qatar'):
        host=1
    else:
        host=0
    print(pays1)
    pays2=input('Entrer le deuxieme pays : ')
    print(pays2)

    match_poule=pd.DataFrame({'Pays1': [pays1], 'Pays2': [pays2], 'Rang_Pays1': [0], 'Rang_Pays2': [0],'Host': [host]},
                          index = [0])
    poule=match_poule
    poule_Pays=match_poule

    poule['Rang_Pays1'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays1"][0])&(ranking['Année']==2022)]
    poule['Rang_Pays2'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays2"][0])&(ranking['Année']==2022)]

    poule['Rang_Pays1']=(1.)/(poule['Rang_Pays1'])
    poule['Rang_Pays2']=(1.)/(poule['Rang_Pays2'])
    X_pred=poule[['Rang_Pays1','Rang_Pays2','Host']].values
    
    
    prediction=model.predict(X_pred)
    i=0
    for pred in prediction:
        print('\n\nPour le match entre',poule_Pays['Pays1'][i],'et',poule_Pays['Pays2'][i],'\n\n\n')
        if (np.argmax(prediction[i]))==2 :
            print(pred[2],' de probabilité de victoire pour '+ poule_Pays['Pays1'][0],'\n')
            print(pred[1],' de probabilité de match nul \n')
            print(pred[0],' de probabilité de victoire pour '+poule_Pays['Pays2'][0],'\n\n\n')
        elif (np.argmax(prediction[i]))==0:
            print(pred[0],' de probabilité de victoire pour '+poule_Pays['Pays2'][0],'\n')
            print(pred[1],' de probabilité de match nul \n')
            print(pred[2],' de probabilité de victoire pour '+poule_Pays['Pays1'][0],'\n\n\n')
        else :
            print(pred[1],' de probabilité de match nul \n')
            print(pred[0],' de probabilité de victoire pour '+poule_Pays['Pays1'][0],'\n')
            
            print(pred[2],' de probabilité de victoire pour '+poule_Pays['Pays2'][0],'\n')


        i=i+1

Voici la liste des pays participant à la coupe du monde :
Brazil Germany Argentina France England Spain Netherlands Uruguay
Belgium Serbia Mexico Poland Portugal Switzerland Austria
Croatia Denmark United States South Korea Japan Wales Qatar Senegal
Iran Morocco Tunisia Cameroon Canada Ecuador
Saudi Arabia Ghana Costa Rica

Entrer le premier pays : Spain
Spain
Entrer le deuxieme pays : Tunisia
Tunisia
1/1 [==============================] - ETA: 0s

C:\Users\chris\AppData\Local\Temp\ipykernel_14748\357381894.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poule['Rang_Pays1'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays1"][0])&(ranking['Année']==2022)]
C:\Users\chris\AppData\Local\Temp\ipykernel_14748\357381894.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poule['Rang_Pays2'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays2"][0])&(ranking['Année']==2022)]

1/1 [==============================] - 0s 108ms/step


Pour le match entre Spain et Tunisia



0.52386373  de probabilité de victoire pour Spain

0.21050729  de probabilité de match nul

0.265629  de probabilité de victoire pour Tunisia



Voici la liste des pays participant à la coupe du monde :
Brazil Germany Argentina France England Spain Netherlands Uruguay
Belgium Serbia Mexico Poland Portugal Switzerland Austria
Croatia Denmark United States South Korea Japan Wales Qatar Senegal
Iran Morocco Tunisia Cameroon Canada Ecuador
Saudi Arabia Ghana Costa Rica

Entrer le premier pays : Canada
Canada
Entrer le deuxieme pays : Poland
Poland
1/1 [==============================] - 0s 26ms/step

C:\Users\chris\AppData\Local\Temp\ipykernel_14748\357381894.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poule['Rang_Pays1'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays1"][0])&(ranking['Année']==2022)]
C:\Users\chris\AppData\Local\Temp\ipykernel_14748\357381894.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poule['Rang_Pays2'][0]=ranking['Rang'][(ranking['Pays']==poule["Pays2"][0])&(ranking['Année']==2022)]

Pour le match entre Canada et Poland



0.39846924  de probabilité de victoire pour Canada

0.22603068  de probabilité de match nul

0.37550005  de probabilité de victoire pour Poland



Voici la liste des pays participant à la coupe du monde :
Brazil Germany Argentina France England Spain Netherlands Uruguay
Belgium Serbia Mexico Poland Portugal Switzerland Austria
Croatia Denmark United States South Korea Japan Wales Qatar Senegal
Iran Morocco Tunisia Cameroon Canada Ecuador
Saudi Arabia Ghana Costa Rica